.mvx_container {
  display: inline-flexbox;
  flex-direction: row;
  align-items: center;
}

.mvx_frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: -80px;
}

.mvx_image {
  display: flex;
  align-self: center;
  border-radius: 25px;
  max-width: 500px;
  max-height: 500px;
  /* test git tool */
  /* test git tool */
}

.mvx_imageText {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

#frame_1 {
  position: relative;
  background-color: transparent;
  margin: 1em auto;
}

#frame_2 {
  position: relative;
  background-color: transparent;
  margin: 1em auto;
}
